* {
    margin: 0;
    padding: 0;
}

body {
font-family: 'Lato', sans-serif;
}

header {
height: 100px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
border: 1px solid #ececec;
background-color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.headerContent {
	    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.headerLeft {
        display: flex;
    align-items: center;
}

.headerLeft a {
height: 19px;
color: #222222;
font-family: Lato;
font-size: 27px;
font-weight: 300;
line-height: 32px;
text-transform: uppercase;
font-family: "Lato";
font-weight: 300;
letter-spacing: 0.68px;
text-decoration: none;

}

.headerLeft span {
color: #f16d7f;
font-family: "Lato";
font-weight: 400;
letter-spacing: 0.68px;	
}

.logo {
        display: flex;
    align-items: center;
}

.form {
        display: flex;
    align-items: center;
    margin-left: 37px;
}

.dropdown button {
	width: 87px;
height: 38px;
border-radius: 3px 0 0 3px;
border: 1px solid #e6e6e6;
background-color: #cdcdcc;
background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
color: #222222;
font-family: Lato;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.35px;
    align-items: center;
}


.dropdown button:hover {
color: black;
	
}


.browse {
height: 10px;
color: #222222;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 32px;
letter-spacing: 0.35px;
}

.headerRight {
        display: flex;
    align-items: center;
}

input {
	width: 317px;
border-radius: 0 3px 3px 0;
border: 1px solid #e6e6e6;
background-color: #ffffff;
height: 38px;

}



input[placeholder="Search for Item..."] {
	color: #a4a4a4;
font-family: Lato;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.35px;	
padding-left: 16px;	
}

.loupe {
	width: 36px;
	height: 38px;
}

.loupe:hover {
	border: 1px solid black;
}


.logo img {
    margin-right: 13px;
}

.cart {
    margin-right: 26px;
}

#dropdownMyAccount {
	width: 130px;
height: 38px;
background-color: #f16d7f;
border: 0;
}

#dropdownMyAccount:hover {
	border: 1px solid black;	
}

.mainMenu {
        display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    height: 51px;

}

.menuClick {
        padding: 19px;
    display: block;
    color: #222222;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
    text-decoration: none;
    line-height: 26px;

}

.drop {
    border-radius: 5px;
background-color: #ffffff;
border: 1px solid #ececec;
padding: 10px 20px;
display: flex;
position: absolute;
top: 155px;
display: none;
right: 25px;
}

.drop:before {
content: '';
display: block;
width: 12px;
height: 12px;
background-color: #fff;
    position: absolute;
    top: -6px;
    left: 110px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

}


.dropFlex {
    width: 235px;
    text-align: left;
    margin-right: 46px;
}

.dropFlex:last-of-type {
    margin-right: 0;
}

.dropH3 {
    color: #232323;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 32px;
text-transform: uppercase;
letter-spacing: 0.35px;
border-bottom: 1px solid #e8e8e8;
padding: 8px 0;
}

.dropMenu {
    list-style-type: none;
    position: relative;

}

.headerMenu:hover .drop {
    display: flex;
}

.dropLink {
    color: #646464;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.35px;
    text-decoration: none;
}

.dropLink:hover {
    color: #f16d7f;
}

.dropRight {
    right: 20px;
}

.dropRight:before {
    left: auto !important;
    right: 500px;
}

.promo {
    height: 614px;
    background-color: #e8e8e8;
}

.promoContent {
    height: 100%;
    background-image: url(img/promo.png);
    background-position: 0 -51px;
}

.promoText h1 {
    color: #222222;
font-size: 40px;
font-weight: 400;
}

.promoText h3{
letter-spacing: 1px;
}


.promoText {
    color: #222222;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
        line-height: 31px;
    margin-top: 224px;
    float: left;
    font-weight: 400;
}

.large {
    width: 560px;
height: 542px;
    background-color: #ccc;
}

.large:first-child {
	background-image: url(img/Layer_30.png);
}

.large:last-child {
	background-image: url(img/Layer_31.png);
}

.small {
    width: 560px;
height: 261px;
    background-color: #dadad2;
}

.small:first-child {
	background-image: url(img/Layer_32.png);
}

.small:last-child {
	background-image: url(img/Layer_37.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.offers {
    padding-top: 100px;
    padding-bottom: 100px;
        display: flex;
    justify-content: space-between;
}

.offersBlock div:first-child {
    margin-bottom: 20px;
    margin-right: 20px;
}

.offersText {
    background-color: #ffffff;
    float: left;
    margin-top: 26px;
    height: 82px;


}

.offersText p:first-child {
color: #222222;
font-family: "Lato";
font-size: 18px;
font-weight: 400;
text-transform: uppercase;

}

.offersText p:last-child {
	color: #f16d7f;
font-size: 30px;
}



.featuredItems {
	margin-bottom: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.featuredItemsText h3 {
height: 23px;
color: #222222;
font-family: Lato;
font-size: 30px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.75px;
margin-bottom: 16px;
	text-align: center;
}

.featuredItemsText p {
height: 12px;
color: #9f9f9f;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 54px;
letter-spacing: 0.35px;	
	text-align: center;
}

.adsContainer {
	height: 681px;
	width: 1140px; 
	margin-top: 60px;
}

.upperAds  {
	display: flex;
	justify-content: space-between;	
height: 342px;
width: 1140px; 
	margin-bottom: 60px;
}

.lowerAds  {
		display: flex;
	justify-content: space-between;	
	height: 342px;
	height: 342px;
width: 1140px; 
}

.item {
    margin-bottom: 39px;
position:relative;
width: 263px;
height: 364px;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .addToCart {
    display: block;
}

.item:hover .rating {
    display: block;
width: 70px;
height: 14px;
color: #e4af48;
font-family: "Font Awesome";
font-size: 15px;
font-weight: 400;
text-transform: uppercase;
padding-right: 12px;
}

.item:hover .itemPic {
    filter: brightness(50%);
}


.itemText h3 {
color: #222222;
font-family: Lato;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
margin-top: 19px;
padding-left: 15px;
text-align: left;
}

.itemText p {
color: #f16d7f;
font-family: Lato;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
margin-top: 17px;
text-align: left;
padding-left: 14px;
    display: flex;
    justify-content: space-between;

}

.itemPic {
    width: 100%;
}

.rating {
    display: none;
}

.addToCart {
    width: 123px;
height: 39px;
border: 1px solid #ffffff;
color: #ffffff;
font-family: Lato;
font-size: 13px;
font-weight: 700;
border: 1px solid #ffffff;
    text-align: center;
    line-height: 39px;
    display: none;
    position: absolute;
    top: 98px;
    left: 70px;
    text-decoration: none;
}

.addToCart:hover {
    box-shadow: 0 0 10px #fff;
    color: white;
}

.addToCart img {
    width: 23px;
height: 22px;
color: white;
}

.allProducts {
    height: 282px;
      align-items: center;
      display:flex;
          width: 1140px;
    margin: 0 auto;

}

.allProducts a {
    width: 212px;
height: 48px;
background-color: #f16d7f;
color: #ffffff;
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.4px;
text-align: center;
display: block;
margin-left: 465px;
padding-bottom: 19px;
}

.salesBlock {
    height: 529px;
    width: 1140px;
    display: flex;
justify-content: space-between;
}

.salesBanner {
    width: 767px;
    display: block;
    background-color: #222224;

}

.salesBannerPic {
   display: block; 
   float: left;
   position: relative;
   background-image: url(img/Layer_39.png);
}

.salesBannerText {
    position: absolute;
    margin-top: 146px;
    margin-left: 39px;
}

.salesBannerText h3 {
color: #ffffff;
font-family: Lato;
font-size: 54px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.5px;
}

.salesBannerText span {
    color: #f16d7f;
letter-spacing: 1.5px;
}

.salesBannerText p {
    font-size: 32px;
letter-spacing: 0.9px;
color: #ffffff;
text-transform: uppercase;
}


.salesDescription {
    width: 373px;
height: 529px;
background-color: #222224;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.salesDescription img {
    margin-left: 36px;
    display: flex;
justify-content: space-between;
}

.salesDescription img:first-child {
    margin-top: 48px;
}

.salesDescription p {
    width: 219px;
height: 58px;
color: #fbfbfb;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.35px;
}

.salesDescription h3 {
color: #fbfbfb;
font-family: Lato;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.5px;
}

.textDesc {
margin-left: 111px;
margin-top: -35px;
width: 219px;
}

.subscribeBlock {
background-color: #f2f2f2;
height: 438px;
margin-top: 97px;
}

.review {
background-image: url(img/subscribe.png);
width: 1609px;
height: 100%;
background-position: 

}

.feedback {
padding-top: 111px;
    margin-left: 240px;

}

.feedback img {
    float: left;
    margin-right: 28px;
}

.feedbackText p:nth-child(2) {
    width: 386px;
height: 68px;
color: #222224;
font-family: Lato;
font-size: 16px;
font-style: italic;
line-height: 26px;
letter-spacing: 0.4px;

}

.feedbackText p:nth-child(3) {
height: 27px;
color: #f16d7f;
font-family: Lato;
font-size: 16px;
font-family: "Lato";
font-weight: 700;
letter-spacing: 0.4px;
line-height: 26px;
}

.feedbackText p:nth-child(4) {
color: #222224;
font-family: "Lato";
font-size: 12px;
font-weight: 300;
letter-spacing: 0.3px;
line-height: 14px;
}